.leftbar-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 0;
}

.leftbar-container_menu {
    margin-top: 15px;
}

.leftbar-container_menu--item {
    cursor: pointer;
    font-size: 20px;
    list-style: none;
    padding: 10px;
    transition: background  .3s;
    width: fit-content;
}

.leftbar-container_menu--item:hover {
    border-left: 3px solid rgb(29, 155, 240);
    transition: all .2s;
    font-weight: 700;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.leftbar-container_menu--item__selected {
    font-weight: 700;
    border-left: 3px solid rgb(29, 155, 240);
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.leftbar-container_menu--item i {
    color: #fff;
    height: 20px;
    margin-right: 20px;
    text-align: center;
    width: 20px;
}

.leftbar-container_menu--item__title {
    color: #fff;
    text-decoration: none;
}

.leftbar-container_menu--item__title:hover {
    color: #fff;
}

.leftbar-container_menu--tweet {
    padding: 10px;
    margin-top: 15px;
    background-color: rgb(29, 155, 240);
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 85%;
    transition: opacity .3s;
}

.leftbar-container_menu--tweet:hover {
    opacity: 0.9;
}

/*  --------------------------- */

.leftbar-container_footer {
    display: flex;
    margin-bottom: 15px;
}

.leftbar-container_footer--img {
    border-radius: 50%;
    height: 50px;
    margin-right: 15px;
    object-fit: cover;
    width: 50px;
}

.leftbar-container_footer--user {
    display: flex;
    flex-direction: column;
}

.leftbar-container_footer--user__name {
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.leftbar-container_footer--user__username {
    color: rgb(121, 121, 121);
    margin: 0;
    padding: 0;
}

@media (max-width: 1400px) { 
    .leftbar-container_footer--img {
        width: 40px;
        height: 40px;
    }
    .leftbar-container_footer--user__name { font-size: 14px; }
    .leftbar-container_footer--user__username { font-size: 14px; }
}

@media (max-width: 1200px) {
    .leftbar-container_footer--img {
        width: 35px;
        height: 35px;
    }
    .leftbar-container_footer--user__name { font-size: 12px; }
    .leftbar-container_footer--user__username { font-size: 12px; }
    .leftbar-container_menu--item { font-size: 16px; }
}

@media (max-width: 992px) { 
    .leftbar-container_menu--item:hover {
        background-color: transparent;
        opacity: 0.8;
    }
    .leftbar-container_menu--item {
        margin-bottom: 15px;
    }
    .leftbar-container_menu--item i { 
        font-size: 30px; 
        margin: 0;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .leftbar-container_menu--item__title { display: none; }
    .leftbar-container_footer--user { display: none; }
    .leftbar-container { align-items: center; }
    .leftbar-container_footer--img {
        width: 55px;
        height: 55px;
        margin: 0;
    }
    .leftbar-container_menu--tweet { display: none;}
}
