.registerpage-container {
    width: 100%;
    height: fit-content;
}

.registerpage-container_image {
    background-image: url('https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png');
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerpage-container_image i {
    color: #fff;
    font-size: 20vw;
}

.registerpage-container_form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 50px;
}

.registerpage-container_form--title {
    color: #fff;
    font-size: 3vw;
    font-weight: 700;
}

.registerpage-container_form--title2 {
    color: #fff;
    font-size: 2vw;
    margin-top: 30px;
    font-weight: 650;
}

.registerpage-container_realform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    width: 70%;
}

.registerpage-container_form--inputs {
    background: transparent;
    outline: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgb(68, 68, 79);
    border-radius: 5px;
    color: #fff;
}

.registerpage-container_form--inputs:focus {
    border: 1px solid rgb(29, 155, 240);
}

.registerpage-container_realform--label {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}

#form-icon {
    font-size: 3vw;
    color: #fff;
    margin-bottom: 30px;
}

.register-buttons {
    display: flex;
    gap: 10px;
}

.register-button {
    flex-grow: 1;
    margin-top: 30px;
    background-color: rgb(29, 155, 240);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
    transition: opacity .4s;
}

.go-login {
    flex-grow: 1;
    margin-top: 30px;
    font-weight: 700;
    color: rgb(29, 155, 240);
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: opacity .4s;
}

.register-button:hover {
    opacity: 0.7;
}

.go-login:hover {
    opacity: 0.7;
}

@media (max-width: 920px) {
    .registerpage-container_image {
        width: 100%;
    }

    .registerpage-container_form--inputs {
        width: 100%;
        flex-grow: 1;
    }

    .registerpage-container_form {
        width: 100%;
    }

    .registerpage-container_realform {
        width: 100%;
    }
}