.rightbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 50px;
}

@media (max-width: 992px) { 
    .rightbar-container {
        display: none;
    }
}